* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

h1, h2, h3, h4 {
    font-family: 'montserrat'
}
  
/*fjerner link farve*/
a {
    color: inherit;
    text-decoration: none; 
}

::selection {
    color: white;  
    background: #102e48;  
}
  
body {
    font-family: montserrat, sans-serif;
    background-color: #ffebd2 ;
}
  
img.logo {
    width: 18%;
}

.logo{
    margin-top: 10.5%;
    margin-left: 3%;
}

nav ul {
    display: flex;
    align-items: center;
    width: 62%;
    margin-left: 2%;
}
  
/* Style the nav */
  
nav ul li {
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
}

a:active,
  a:hover {
    background-color: white;
    transition: 0.5s;
}
    
nav ul li a {
    color: #f28a33;
    font-size: 25px;
    padding: 7px 13px;
    border-radius: 3px;
    font-weight: 600;
}

.navbar-icon img {
    width: 5%;
    margin-left: 4px;
    margin-right: 23%;
    margin-inline: 1%;
} 

.navbar-icon {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    justify-content: flex-end;
    margin-top: 1%;
    padding-right: 3%;
    width: 6%;
    cursor: pointer;
    transform: scale(1.2);
    transition: 1s;
}

nav {
    display: flex;
    flex-direction: row;
    background-color: #102e48;
    height: 150px;
    width: 100%;
    z-index: 10;
    align-items: center;
    justify-content: space-between;
    position: fixed;
}

/* styling the input tag  */
#check {
    display: none;
}
  
/* styling the label checkbtn class - display none*/
.checkbtn {
    font-size: 50px;
    color: #f28a33;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}
  
/* main første sektion styles */
.forside-top {
    position: relative;
    text-align: center;
    color: white; 
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

.forside-billede {
    position: relative;
}

.forside-billede img {
    width: 100%;
    height: auto;
    object-fit:cover;
    margin-top: 8%;
    
}

.mobil-forside{
    display: none;
}

.knap{
    position: absolute;
    top: 78%; 
    left: 48%; 
    transform: translate(-50%, -50%); 
}

.knap {
    background-color: #f28a33; 
    border: none;
    padding: 10px 20px;
    font-size: 1.5em;
    cursor: pointer;
    border-radius: 10px;
    text-transform: uppercase; 
    color: #ffebd2;
}

/* anden section i main styles */
.baggrund-image{
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

img.baggrund-image {
    position: absolute;
    margin-top: auto;
    width: 100%;
    height: 110%;
}

h2 {
    color: #f28a33;
    display: grid;
    justify-content: flex-start;
    padding: 40px;
    margin-bottom: 20px;
    font-size: 65px;
    z-index: inherit;
    text-shadow: 2px 2px 5px black;
    margin-left: 3%;
}

.kampagne-container{
    display: flex;
    position: relative;
    width: 100%;
    height: auto;
    margin-top: -4px;
    align-items: center; 
    justify-content: center; 
    gap: 20px; 
}

.kampagne {
    display: grid;
    position: relative;
    z-index: 1;
}

/* styling af tekst på midt sektion */
.tekstbox {
    flex-basis: 50%;
    padding-left: 4%;
    color: #f28a33;
    font-size: large;
    font-weight: 600;
    background-color: white;
    padding: 3%;
    border-radius: 27px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    width:fit-content ;
    margin:auto;
    margin-left: 5%;
    max-width: 33%;
    height: 50%;
}

.pil-container {
    display: flex; 
    align-items: center; 
    text-decoration: none;
}

.pil-container :hover{
    color: #102e48;
    cursor: pointer;
    
}

#hashtag{
    margin-right: 10px;
}

.højre-pil{
    width: 5%;
    height: auto;
}

/* styling af dåse png */
.mystery-daase{
    flex-basis: 50%;
}

.mystery-daase img{
    width: 100%;
    height: auto;
    filter: drop-shadow(5px 5px 10px rgba(0, 0, 0, 0.6));
}

/* tredje section */
h3 {
    font-size: 65px;
    margin-left: -63px;
    color: #2b719c;
    padding: 149px;
    z-index: 1;
    margin-top: -2%;
    text-shadow: 1px 1px 1px rgb(88, 84, 84);
}

/* billeder  på forsiden */
.bottom-images {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    padding-bottom: 60px;
}

.bottom-images ul {
    display: flex;
    flex-direction: row-reverse;
    list-style-type: none;
    padding: 30px;
}

.bottom-images img {
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.5);
    width: 100%;
    height: auto;
    margin: 0 20px;
}

.boxes {
    display: flex;
    padding-inline: 20px;
}

/* styling a scroll knap */

#scrolltotopbutton {
    position: fixed; 
    bottom: 20px; 
    right: 30px; 
    z-index: 99;
    background-color: #f28a33; 
    color:#102e48; 
    cursor: pointer; 
    padding: 1.5%; 
    border-radius: 40px; 
    text-align: center; 
    text-decoration: none; 
    font-weight: 800;
    height: 9%;
    width: 5%;
}
   
#scrollToTopButton:hover {
    background-color: white; 
}

/*styling af footer*/
.footer {
    display: grid;
    position: relative; 
    width: inherit;
    height: auto;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: #f28a33;
    text-align: center;
    padding: 40px 20px; 
}

.footer img{
    width: 104%;
    height: auto;
    margin-left: -37px;
    margin-bottom: -45px;
}

.footer ul {
    margin-top: 2px;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    margin-left: -50%
}

.footermenu ul {
    display: flex;
    width:15px;
    justify-content: center;
    margin-top: -103px;
    margin-left: -61%;
}

.copyright{
    margin-top: -2%;
    margin-bottom: 2px;
    font-size: larger;
    font-weight: 400;
}

.footer ul li {
    display: inline-block;
    padding: 0 20px;
    font-size: 25px;
}

.footer ul li a, p{
    color: inherit;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
}
.footer ul li a:hover {
    opacity: 0.9;
}
/* styling footer SLUT */

/* produkter.html START */
.shop-side {
    padding: 20px;
    margin-bottom: 10px;
    
}

.shop-side h4{
    text-align: center; 
    margin-top: 6%;
    padding-top: 6%;
    margin-bottom: -9%;
}

h4{
    color: #f28a33;
    font-size: 50px;
}

.produkter {
    display: flex;
    flex: 10px;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-top: 10%;
}

  
.produkt-daase {
    padding: 20px;
    text-align: left;
    padding-inline: 30px;
    padding-block: 90px;
}
  
.produkt-daase img {
    width: 100%;
    max-width: 400px; 
    margin-bottom: 10px;
}


.produkt-daase p {
    margin-bottom: 10px;
    color: #006; 
}
p.lager{
    color: green;
}
#lav-status{
    color: #f28a33;
}

.kurv-knap {
    background-color: #2b719c; 
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
}
  
.kurv-knap button:hover {
    background-color: #f28a33;
}
.kurv-kontainer{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* troejborg produkter start */
.tekst-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
    flex-direction: column;
}
 
.infographic-1, .infographic-2 {
    display: flex; 
  
}
  
input[type=checkbox] {
    display: none;
}
  
input[id="graphic-1"]:checked ~ label > img {
    transform: scale(1.2);
    cursor: zoom-out;
    transition: transform 1s ease;
}

input[id="graphic-2"]:checked ~ label > img {
    transform: scale(1.2);
    cursor: zoom-out;
    transition: transform 1s ease;
}

.igtekst h5 {
    font-size: 3rem;
    color: #f28a33;
    text-align: center;
    margin-top: 17%;
    margin-left: -8%;
}

.igtekst p {
    margin: 0 10%;
    font-size: 20px;
    text-align: left;
    padding: 40px;
    font-weight: 300;
    max-width: 47%;
    margin-left: 23%;
}

#slogan{
    font-size: 3rem;
    color: #f28a33;
    text-align: center;
    margin-top: 40px;
    margin-bottom: 10%;
} 

.infographic-1 img {
    display: flex;
    justify-content: center;
    margin: 0 auto;
    width: 40%;
    max-width: 50%;
    cursor: zoom-in;
    transition: transform 1s;
    border-radius: 20px;
    margin-bottom: 20px;
}

.infographic-2 img {
    display: flex;
    justify-content: center;
    margin: 0 auto;
    width: 40%;
    max-width: 50%;
    cursor: zoom-in;
    transition: transform 1s;
    border-radius: 20px;
    margin-bottom: 20px;
}

/* omos html START */

h6{
    font-weight: 600;
    margin-top: 10%;
    font-size: 40px;
    padding-left: 30px;
}

#historie{
    color: #f28a33;
    padding-top: 50px;
    margin-left: 1%;
    margin-top: 21%;
}

#faq{
   color: #2b719c;
   padding-right: 36%;
}

#kontakt{
    color: #f28a33;
}

#historie-tekst{
    max-width: 63%;
    margin-left: 1%;
}

#slogan2{
font-weight: 600;
color: #f28a33;
}

.faq-section{
   
    display: flex;
    align-items: flex-end;
    flex-wrap: nowrap;
    flex-direction: column;  
}

#kontakt-tekst{
    margin-left: 1%;
}

.vores-historie, .faq-section, .kontakt-section {
    padding: 10px;
}

.om-os p{
    margin: 0 10%;
    font-size: 20px;
    padding: 27px;
    font-weight: 300;
    max-width: 47%;
    margin-left: 1%;
}

@media screen and (min-width: 925px) and (max-width: 1025px) {

img.logo {
    width: 19%;
}

.logo {
    margin-top: 14.5%;
    margin-left: 3%;
}

.navbar-icon {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    gap: 10px;
    justify-content: flex-end;
    margin-top: 1%;
    padding-right: 2%;
    width: 6%;
}

.nav ul{
    display: flex;
    justify-content: flex-start;
    margin-top: -2.5%;
}

nav ul li{
    margin: -5px -7px;
}

nav ul li a{
    padding: 0px 18px;
    font-size: 23px;
}

.nav-iconer{
    margin-top: -7%;
}
    
.navbar-iconer img{
    width: 3%;
    margin-left: 3px;
}

.forside-billede img{
    margin-top: 15%;
}

#scrolltotopbutton{
    height: 9%;
    width: 7%;
}

.bottom-images ul{
    padding-left: 1px;
        
}
    
.tekstbox{
    height: 52%;
}
    
.footer img {
    width: 107%;
}
    
/* produkter START */
.igtekst p {
    text-align: left;
    max-width: 64%;
    margin-left: 18%;
}

h4{
    font-size: 45px;
}

.shop-side h4{
    margin-top: 11%;
}

/* om os */
#historie-tekst {
    max-width: 87%;
}

.om-os p{
    max-width: 49%;
    
}
    
}
    
/* adding CSS Media Query - break-point 925px max */

@media (max-width: 925px) {

nav {
    display: flex;
    justify-content: space-between;
    align-items: center; 
    padding: 0 10px; 
}

img.logo {
    width: 26%;
    z-index: 10;
    order: 1;
}
    
.logo {
    margin-top: 19.5%;
    margin-left: 3%;
}

.navbar-icon {
    display: flex;
    justify-content: flex-start;
    order: 2; 
    width: 8%; 

}
  
.checkbtn {
    display: block;
    order: 3;
}

nav ul {
    position: fixed;
    height: 100vh;
    background: #102e48;
    top: 143px;
    right: 0;
    text-align: center;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    left: 100%;
    transition: all 0.5s;
}

.fa{
    position: fixed;
    margin-top: -4%;
}

nav ul li {
    display: block;
}

#check:checked ~ ul {
    left: 0;
}

nav ul li {
    margin: 50px 0;
    line-height: 30px;
}

.navbar-icon img {
    display: inline;
}
.navbar-icon{
    display: flex;
    justify-content: flex-start;
    margin-top: -2%;
    margin-right: -55%;
    width:9%;
    
}

.forside-billede{
    display: none;
}

.mobil-forside{
    display: block;
    width: 100%;
    padding-top: 8%;
    margin-bottom: -10%;
}

.tekstbox{
    height: 101%;
    max-width: 46%;
}

h3{
    font-size: 50px;
    margin-left: -63px;
    margin-top: -7%;
    margin-bottom: -16%;
}

.knap{
    top: 19%;
    left: 49%;
    transform: translate(-50%, -50%);
    margin-top: -14%;
}

.bottom-images ul{
    position: relative;
    margin-left: -51px;
}

#scrolltotopbutton{
    height: 9%;
    width: 9%;
}

/* produkter START */
.shop-side h4{
    margin-top: 28%;
    margin-bottom: -20%;
}

/* TRØJBORGBRYG START */
.igtekst h5{
    margin-top: 37%;
}

.igtekst p{
    max-width: 80%;
    margin-left: 10%;
}

#slogan{
    font-size: 33px;
    margin-bottom: 14%;
}

.infographic-1 img{
   width:46%; 
}

.infographic-2 img{
    width:46%; 
}

/* om os START*/
#historie {
    margin-top: 31%;
} 
    
.footer img{
    width: 108%;
}

.footer ul {
    margin-top: -18px;
    background-color: transparent;
}


}
  

/*CSS Media Query - break-point 600px max */

@media(max-width: 600px) {

nav {
    display: flex;
    justify-content: space-between;
    align-items: center; 
    padding: 0 10px; 
    width: 100%;
}
    
img.logo {
    width: 36%;
    z-index: 10;
    order: 1;
}
        
.logo {
    margin-top: 35.5%;
    margin-left: 3%;
}
    
.navbar-icon {
    display: flex;
    justify-content: flex-start;
    order: 2; 
    width: 8%;
    
}
      
.checkbtn {
    display: block;
    order: 3;
}
    
nav ul {
    position: fixed;
    height: 100vh;
    background: #102e48;
    top: 143px;
    right: 0;
    text-align: center;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    left: 100%;
    transition: all 0.5s;
}
    
    
.fa{
    position: fixed;
    margin-top: -4%;
}
    
nav ul li {
    display: block;
}
    
#check:checked ~ ul {
    left: 0;
}
    
    
nav ul li {
    margin: 50px 0;
    line-height: 30px;
}
    
.navbar-icon img {
    display: inline;
}

.navbar-icon{
    display: flex;
    justify-content: flex-start;
    margin-top: 4%;
    margin-right: -27%;
    width: 13%;
        
}
    
.forside-billede{
    display: none;
}   
    
.mobil-forside{
    display: block;
    width: 100%;
    padding-top: 35%;
    margin-bottom: -10%;
}

h2 {
    font-size: 30px;
}

.tekstbox{
    margin-right: 5%;
    width: 106%;
    padding: 7%;
    max-width: 77%; 
}


.kampagne-container{
    flex-direction: column-reverse;
}

h3 {
    font-size: 29px;
    margin-top: -10%;
    margin-bottom: -30%;
}

.bottom-images ul {
    display: flex;
    flex-direction: column-reverse;
    position: relative;
    margin-left: -6px;
    gap: 86px;
}

#scrolltotopbutton{
    height: 7%;
    width: 13%;
}

.footer{
    padding: 0%;
}

.footer img{
    width: 108%;
}
.footer ul li {
    display: inline-block;
    padding: 0px 23px;
    font-size: 14px;
}
.copyright {
    margin-top: 6%;
    margin-bottom: -21px;
    font-size: 11px;
}

/* produkter START */

.shop-side h4{
    margin-top: 52%;
}

/* trøjborgBryg */

.igtekst h5 {
    margin-top: 59%;
    font-size: 28px;
}

.igtekst p {
    font-size: 16px;
}

#slogan {
    font-size: 21px;
    padding-left: 40px;
}
.infographic-1 img {
    margin-bottom: -22%;
    margin-top: 9%;
    width: 50%;
}
.infographic-2 img {
    width: 50%;
    margin-bottom: 15%;
}

/* Om os START */
.om-os p {
    font-size: 16px;
}

.vores-historie {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    flex-direction: column;
    margin-left: 8%;
}
#historie {
    padding-top: 118px;
    margin-left: -17%;
}
#historie-tekst {
    max-width: 79%;
    margin-left: 1%;
    text-align: left;
}

#slogan2 {
    font-weight: 800;
    max-width: 75%;
    text-align: center;
    margin-left: -4%;
}

.faq-section {
    display: flex;
    align-items: center;
    flex-direction: column;
}

#faq{
    margin-left: -9%;
}

#faq-tekst{
    margin-top: -2%;
    max-width: 62%;
}

.kontakt-section{
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-left: -11%;
}

}
  

  
 