* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
}


 h1, h2, h3, h4 {
    font-family: 'montserrat'
}
  
/*fjerner link farve*/
a {
    color: inherit;
    text-decoration: none; 
}
  
  /* setting font */
  
body {
    font-family: 'Montserrat', sans-serif;
    background-color: #ffebd2;
}
   
nav {
    display: flex;
    flex-direction: row;
    background-color: #102e48;
    width: 100%;
    z-index: 10;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    height: 18%;
    
}
  
.nav-iconer img {
    width: 3%;
    margin-left: 5px;
}

.nav-iconer {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    justify-content: flex-end;
    margin-top: -6%;
    padding-right: 4%;
}


/* Style  logo */
.logo {
    position: absolute;
    top: -30px; 
    left: 0;
    z-index: 10;
}


#brand-logo {
    height: auto;
    width: 87%;
    margin-top: -2%;
}

.logo-container {
    width: 20%;
    height: 150px;
    z-index: 1;
    margin-left: 2%;
    margin-top: 3%;
}

/* Style nav */
nav ul {
    display: flex;
    justify-content: flex-start;
    margin-top: 1.5%;
}

  
  
  /* Style  nav */
  
nav ul li {
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
}
  
  
/* Style link insde i nav */
  
nav ul li a {
    color: #f28a33;
    font-size: 25px;
    font-weight: 600;
}
  
  
 
/* Style the active link */
  
a:active, a:hover {
    background-color: white;
    transition: .5s;
}
  

nav ul li a {
    color: #f28a33;
    font-size: 25px;
    padding: 7px 13px;
    border-radius: 3px;
    text-transform: uppercase;
}
  
/* style label checkbtn class */

/* .checkbtn {
    font-size: 30px;
    color: white;
    float: right;
    line-height: 20px;
    margin-right: 10px;
    cursor: pointer;
} */
  
  /* style input tag  */
#check {
    display: none;
}
  
  
  /* stylinng aflabel checkbtn class - display none*/
.checkbtn {
    font-size: 50px;
    color: #f28a33;
    float: right;
    line-height: 20px;
    margin-right: 10px;
    cursor: pointer;
    display: none;
}


/* main første sektion styles */
.forside-top {
    position: relative;
    text-align: center;
    color: white; 
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

.forside-billede {
    position: relative;
}

.forside-billede img {
    width: 100%;
    height: auto;
    object-fit:cover;
    margin-top: 8%;
    
}

.mobil-forside{
    display: none;
}

.knap{
    position: absolute;
    top: 78%; 
    left: 48%; 
    transform: translate(-50%, -50%); 
}

.knap {
    background-color: #f28a33; 
    border: none;
    padding: 10px 20px;
    font-size: 1.5em;
    cursor: pointer;
    border-radius: 10px;
    text-transform: uppercase; 
    color: #ffebd2;
}


.forsideknap :hover {
    background-color:#102e48; 
}


/* anden section i main styles */

.baggrund-image{
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

img.baggrund-image {
    position: absolute;
    margin-top: auto;
    width: 100%;
    height: 110%;
}

h2 {
    color: #f28a33;
    display: grid;
    justify-content: flex-start;
    padding: 40px;
    margin-bottom: 20px;
    font-size: 65px;
    z-index: inherit;
    text-shadow: 2px 2px 5px black;
    margin-left: 3%;
}

.kampagne-container{
    display: flex;
    position: relative;
    width: 100%;
    height: auto;
    margin-top: -4px;
    align-items: center; 
    justify-content: center; 
    gap: 20px; 
}


.kampagne {
    display: grid;
    position: relative;
    z-index: 1;
}

/* styling af tekst på midt sektion */
.tekstbox {
    flex-basis: 50%;
    padding-left: 4%;
    color: #f28a33;
    font-size: large;
    font-weight: 600;
    background-color: white;
    padding: 3%;
    border-radius: 27px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    width:fit-content ;
    margin:auto;
    margin-left: 5%;
}

.pil-container {
    display: flex; 
    align-items: center; 
    text-decoration: none;
}

.pil-container :hover{
    color: #102e48;
    cursor: pointer;
    
}

#hashtag{
    margin-right: 10px;
}

.højre-pil{
    width: 5%;
    height: auto;
}

/* styling af dåse png */
.mystery-daase{
    flex-basis: 50%;
}

.mystery-daase img{
    width: 100%;
    height: auto;
    filter: drop-shadow(5px 5px 10px rgba(0, 0, 0, 0.6));
   
}

/* tredje section */
h3 {
    font-size: 65px;
    margin-left: -63px;
    color: #2b719c;
    padding: 149px;
    z-index: 1;
    margin-top: -2%;
    text-shadow: 1px 1px 1px rgb(88, 84, 84);
}

/* billeder  på forsiden */
.bottom-images {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    padding-bottom: 60px;
}

.bottom-images ul {
    display: flex;
    flex-direction: row-reverse;
    list-style-type: none;
    padding: 30px;
}
.bottom-images img {
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.5);
    width: 100%;
    height: auto;
    margin: 0 20px;
}
.boxes {
    display: flex;
    padding-inline: 20px;
}


/* hovereffekt på  */
.nav-iconer :hover {
   transform: scale(1.2);
   transition: 1s;
   cursor: pointer;

} 

/* styling a scroll knap */
#scrolltotopbutton {
    position: fixed; 
    bottom: 20px; 
    right: 30px; 
    z-index: 99;
    background-color: #f28a33; 
    color:#102e48; 
    cursor: pointer; 
    padding: 1.5%; 
    border-radius: 40px; 
    text-align: center; 
    text-decoration: none; 
    font-weight: 800;
    height: 3%;
    width: 2%;

}
  
#scrollToTopButton:hover {
    background-color: white; 
}


/*styling af footer*/
.footer {
    display: grid;
    position: relative; 
    width: inherit;
    height: auto;
    background-image: url('media/footer.webp');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: #f28a33;
    text-align: center;
    padding: 40px 20px; 
}

.footer img{
    width: 104%;
    height: auto;
    margin-left: -37px;
    margin-bottom: -45px;
}

.footer ul {
    margin-top: 2px;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    margin-left: -50%
}

.footermenu ul {
    display: flex;
    width:15px;
    justify-content: center;
    margin-top: -103px;
    margin-left: -61%;

}

.copyright{
    margin-top: -2%;
    margin-bottom: 2px;
}

.footer ul li {
    display: inline-block;
    padding: 0 20px;
    font-size: 25px;
}

.footer ul li a, p{
    color: inherit;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
}

.footer ul li a:hover {
    opacity: 0.9;
}

/* styling footer SLUT */

/* index.html slut */

/* produkter.html start */

.shop-side {
    padding: 20px;
    margin-bottom: 10px;
    
}

.shop-side > :last-child {
    margin-bottom: 5%; /* Decrease this value if it's too large */
}

.shop-side h4{
    text-align: center; 
    margin-top: 0; 
    padding-top: 10%;
}

h4{
    color: #f28a33;
    font-size: 50px;

}
  
.produkter {
    display: flex;
    flex: 10px;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-top: 10%;
}


  
.produkt-dåse {
    padding: 20px;
    text-align: left;
    padding-inline: 30px;
    padding-block: 90px;
}
  
.produkt-dåse img {
    width: 100%;
    max-width: 400px; 
    margin-bottom: 10px;
}
  
  
.produkt-dåse p {
    margin-bottom: 10px;
    color: #006; 
}

#lager{
    color: green;
}

#lav-status{
    color: #f28a33;
}
  
.kurv-knap {
    background-color: #2b719c; 
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
}
  
.kurv-knap button:hover {
    background-color: #f28a33;
}

.kurv-kontainer{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* produkter css SLUT */

/* troejborg produkter start */
.tekst-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
    flex-direction: column;
}
  
   
.infographic-1, .infographic-2 {
    display: flex; 
  
}
  
input[type=checkbox] {
    display: none;
}
  
input[id="graphic-1"]:checked ~ label > img {
    transform: scale(1.2);
    cursor: zoom-out;
    transition: transform 1s ease;
}

input[id="graphic-2"]:checked ~ label > img {
    transform: scale(1.2);
    cursor: zoom-out;
    transition: transform 1s ease;
}

.igtekst h5 {
    font-size: 3rem;
    color: #f28a33;
    text-align: center;
    margin-top: 17%;
}


.igtekst p {
    margin: 0 10%;
    font-size: 20px;
    text-align: left;
    padding: 40px;
    font-weight: 300;
    max-width: 47%;
    margin-left: 23%;
}

#slogan{
    font-size: 3rem;
    color: #f28a33;
    text-align: center;
    margin-top: 40px;
    margin-bottom: 10%;
} 


.infographic-1 img {
    display: flex;
    justify-content: center;
    margin: 0 auto;
    width: 40%;
    max-width: 50%;
    cursor: zoom-in;
    transition: transform 1s;
    border-radius: 20px;
    margin-bottom: 20px;

}
  
  
.infographic-2 img {
    display: flex;
    justify-content: center;
    margin: 0 auto;
    width: 40%;
    max-width: 50%;
    cursor: zoom-in;
    transition: transform 1s;
    border-radius: 20px;
    margin-bottom: 20px;

}

/* omos html START */

h6{
    font-weight: 600;
    margin-top: 10%;
    font-size: 40px;
    padding-left: 30px;
}

#historie{
    color: #f28a33;
    padding-top: 50px;
    margin-left: 2%;
}

#faq{
   color: #2b719c;
   padding-right: 36%;
}

#kontakt{
    color: #f28a33;
}


.vores-historie {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    margin-bottom: 20px;
    flex-direction: row;
    flex-wrap: wrap;
}

#historie-tekst{
    max-width: 63%;
    margin-left: 1%;
}

#slogan2{
font-weight: 600;
color: #f28a33;
}

.faq-section{
   
    display: flex;
    align-items: flex-end;
    flex-wrap: nowrap;
    flex-direction: column;
    
}


#faq-tekst{
    margin-top: 19%;
    
    
}

#kontakt-tekst{
    margin-left: 1%;
}

.vores-historie, .faq-section, .kontakt-section {
    padding: 10px;
}
  
.om-os p{
    margin: 0 10%;
    font-size: 20px;
    padding: 27px;
    font-weight: 300;
    max-width: 47%;
    margin-left: 1%;
}

/* støøre skærme breakpoint */
@media screen and (min-width: 925px) and (max-width: 1025px) {

/* forside START */
.nav ul{
    display: flex;
    justify-content: flex-start;
    margin-top: -2.5%;
}

.nav-iconer{
    margin-top: -7%;
}

.navbar-iconer img{
    width: 3%;
    margin-left: 3px;
}

.logo-container{
    margin-top: 0;
}
#brand-logo  {
   width: 90%;
   margin-top: 26%;
}

.bottom-images ul{
    padding-left: 1px;
    
}


.footer img {
    width: 106%;

}

/* produkter START */

.igtekst p {
    text-align: left;
    max-width: 64%;
    margin-left: 18%;
}

/* om os */

#historie-tekst {
    max-width: 87%;
}

.om-os p{
    max-width: 49%;
}


}


/* ipad breakpoint START */
@media (max-width:925px ){

/* forside START  */
.navbar-container {
    height: 90px;
}


.checkbtn{
    display: block;
}


.navbar-container ul{
    position: fixed;
    width: 100%;
    height: auto;
    top: 80px;
    left: 0;
    text-align: center;
}

#check:checked ~ ul { 
    left: 0;
}

.navbar-container ul li{
    display: block;
}

.navbar-container ul li {
    margin: 50px 0;
    line-height: 30px;
}


.nav-iconer img {
    width: 5%;
}

.nav-iconer{
    margin-top: 5%;
    margin-right: 3%;
}

.navbar-container ul{
    left: 100%;
    transition: all 3.5s;
}

.navbar-container ul li {
    margin: 50px 0;
    line-height: 30px;
}

.logo-container {
    width: 41%;
    height: 91px;
    z-index: 1;
    margin-left: 4%;
    margin-top: 5%;
}

.knap {
    font-size: large;
    margin-top: -19%;
}

.forside-billede{
    display: none;
}
    
.mobil-forside{
    display: block;
    width: 100%;
    height: auto;
    margin-top: 0;
    margin-bottom: -6%;
}

h3 {
    font-size: 50px;
    margin-left: -63px;
    margin-top: -7%;
    margin-bottom: -16%;
}

.bottom-images ul{
    position: relative;
    margin-left: -51px;

}

.footer img {
    width: 108%;
}

.footer ul{
    margin-top: -12px;
}

/* produkter START */
.shop-side {
    font-size: 15px;
}

.shop-side h4 {
    margin-top: 10%;
    padding-top: 13%;
    margin-bottom: -18%;
}

.produkt-dåse img {
    margin-bottom: 2px;
}

/* trøjborg zero START */

.igtekst h5 {
    margin-top: 23%;
}

.igtekst p {
    font-size: 18px;
    text-align: left;
    padding: 40px;
    max-width: 70%;
    margin-left: 12%;
}

.infographic-1 img {
    width: 50%;
}

.infographic-2 img {
    width: 46%;
}

/* om os START*/
#historie {
    padding-top: 97px;
}

}



/* telefon breakpoint START */
@media(max-width: 600px) {
     
#brand-logo {
    width: 236%;
    margin-top: -26%;
    margin-left: -70%;
}

.logo-container {
    height: 25px;
    padding-left: 50px;
}

.navbar-container{
    height: 60px;
}

nav ul li a{
      font-size: 16px;
}
    
nav ul li{
        display: block;
}
    
.nav-iconer{
        justify-content: flex-end;
        padding-right: 5%;
}
    
.nav-iconer img {
        width: 15%;
}

h1{
      display: none;
}

.forside-billede{
    display: none;
}

.mobil-forside{
    display: block;
    width: 100%;
    height: auto;
    margin-bottom: -6%;
    padding-top: 6%;
}

.knap {
    font-size: small;
}

    
.kampagne-container {
    display: flex;
    flex-direction: column-reverse;
    width: 69%;
    padding-left: 70px; /* centrer content */
}
    
h2 {
    font-size: 30px;
}
    
.tekstbox{
    margin-right: 5%;
}

h3 {
    font-size: 29px;
    max-width: 45%;
    margin-top: -13%;
    margin-bottom: -28%;
}

.bottom-images ul {
    display: flex;
    flex-direction: column-reverse;
    position: relative;
    margin-left: -6px;
    gap: 86px;
}

#scrolltotopbutton{
    padding: 3.5%;
    border-radius: 131px;
    height: 6%;
}

.footer img{
    width: 115%;
}

.footer ul li {
    display: inline-block;
    padding: 0px 23px;
    font-size: 14px;
}

.copyright {
    margin-top: 6%;
    margin-bottom: -21px;
    font-size: 11px;
}

/* produkter START */

.shop-side h4{
    margin-top: 28%;
}

/* trøjborg zero START */

.igtekst h5 {
    margin-top: 49%;
    font-size: 31.5px;
}

.igtekst p {
    font-size: 16px;
}

#slogan {
    font-size: 2rem;
}

.infographic-1 img {
    margin-bottom: -22%;
    margin-top: 9%;
}

.infographic-2 img {
    width: 50%;
}

/* Om os START */
.om-os p {
    font-size: 16px;
}


.vores-historie {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    flex-direction: column;
    margin-left: 8%;
}

#historie {
    padding-top: 118px;
    margin-left: -17%;
}

#historie-tekst {
    max-width: 79%;
    margin-left: 1%;
    text-align: left;
}

#slogan2 {
    font-weight: 800;
    max-width: 75%;
    text-align: center;
    margin-left: -4%;
}

.faq-section {
    display: flex;
    align-items: center;
    flex-direction: column;
}

#faq{
    margin-left: -20%;
}

#faq-tekst{
    margin-top: -2%;
    max-width: 62%;
}

.kontakt-section{
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-left: -11%;
}





}




